body {
  margin: 0px;
  padding: 0;
  /* Set this for mobile */
  /*width: 320px;*/
  font-family: "Minion Pro", Arial, sans-serif;
  background-color: #d7faff;
}
body, a {
	font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #888;
}
.small-text {
  font-size: 12px;
}
.img {
  float: left;
  margin: 10px;
  padding: 10px;
  width: 280px;
  border: 1px solid #ccc;
  line-height: 20px;
}
.img img {
  width: 280px;
}
img.avatar{
  width: 48px;
  height: 48px;
  margin: 5px;
}
.masonry-brick {
  
}

.light {
  color: #ccc;
}

#crunch {
  margin-top: 70px;
  width: 1000px;
  z-index: 1;
}

#top {
  color: #666;
  font-size: 15px;

  background-color: #d7faff;

  position: fixed;
  width: 100%;
  padding: 10px 10px 0 10px;
  margin: 0 0 0 0;
  height: 43px;

  z-index: 2;
}

#logo-big {
  width: 600px;
  margin: 100px auto 150px auto;
  text-align: center;
}

#about {
  width: 350px;
  margin: 100px auto 200px auto;
  text-align: center;
}

#bottom {
  padding: 0 0 20px 10px;
}

.opacity {
  opacity: 0.1;
  filter: alpha(opacity=10); /* For IE8 and earlier */
}
.opacity-tweet {
  opacity: 0.80;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

.cell {
	width: 320px;
	float: left;
}
.cell-1 {
	width: 165px;
}
.cell-2 {
	width: 205px;
}
.cell-3 {
	width: 600px;
}
.cell-4 {
  width: 800px;
}
.left {
  float: left;
}
.right {
  float: right;
}

input.textfield {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: #888;
  
  padding: 5px 2px 3px 2px;
  font-size: 14px;
  border-top: 1px solid #666;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  border-left: 1px solid #aaa;
}
h2 {
  margin-left: 10px;
  color: #888;
  font-size: 16px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#top ul {
  margin-top: 5px;
}
#about ul {
  
}
.inline li {
	display: inline;
	margin-right: 30px;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}